<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Emojielog</title>
    <meta name="description" content="Sequelize SQLite3 Example">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/vue"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    
  </head>
    
  <body>
  
        <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class = "mdl-grid">
          <span class = "mdl-layout__title">EmojieLog</span>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid" id="app">
            <button v-on:click="addLog('🙂')" class="mdl-cell mdl-button mdl-js-button icon">
                        <span class = "icon">🙂</span>
                      </button>
            <button v-on:click="addLog('😔')" class="mdl-cell mdl-button mdl-js-button icon">
                        <span class = "icon">😔</span>
                      </button>
            <button v-on:click="addLog('🙁')" class="mdl-cell mdl-button mdl-js-button icon">
                        <span class = "icon">🙁</span>
                      </button>
          </div>
        </div>
      </main>
    </div>
    
    
    
        
   
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
